.classEmail > td .fa {
    margin-right: .5rem;
    opacity: 0;
    transition: opacity .1s ease-out;
    cursor: pointer;
    margin-left: 15px;
}

    .classEmail > td .fa:empty {
        content: none;
    }

.classEmail > td:hover .fa {
    opacity: 1;
    transition-delay: 0s;
}

@media (min-width: 0px) and (max-width : 991px) {
    .entree {
        height: 100% !important;
    }

    #imgPhoto {
        width: 82%;
    }

    .myModalYoutubeVideo {
        height: 80%;
    }
}

@media (min-width: 991px) and (max-width: 1992px) {
    .entree {
        height: 77% !important;       
        width: 48% !important;
        top: 10% !important;
        left: 21% !important;
    }

    #imgPhoto {
        width: 57%;
    }   
}

@media (min-width: 991px) { 
    .myModalYoutubeVideo {
        height: 80%;
    }
    .ClassCheckboxNearFlag {
        top: 2px;
        position: relative;
        margin-left: -8px;
        margin-right: 9px;
    }
    .ClassSecondCheckboxNearFlag {
        top: 2px;
        position: relative;
        margin-left: 4px !important;
        margin-right: 20px !important;
    }
}

@media (max-width: 991px) {
    .imgFlag {
        zoom:0.7;
    }
    .ClassCheckboxNearFlag {
        top: 2px;
        position: relative;
        margin-left: -10px !important;        
    }
    .ClassSecondCheckboxNearFlag {
        top: 2px;
        position: relative;
        margin-left: 4px !important;
        margin-right: 10px !important;
    }
    .ClassIconMobile {
        font-size: 18px !important;
        zoom: 1 !important;
    }
    .ClassDivTable {
        height: 80vh;
        overflow: scroll;
    }
}