select {
    font-family: fontAwesome
}

@media screen and (max-width: 767px) {
    .ClassTable {
        display: block;
        overflow: hidden;
    }

    .ClassSlider {
        top: 96%;
        position: relative;
        width: 90%;
        left: 5%;
        margin-top: 15px;
    }

    .TreeMainExpand {
        background-color: peachpuff;
        width: 100%;
        height: 300px;
    }

    #divMain{
        font-size:14px;
    }

    .ClassTDText {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 13px;
        position: relative;
        left: 10px;
        padding-right: 30px;
    }

    .divLoadingButton {
        width: 20em;
        height: 10em;
        position: fixed;
        top: 39%;
        font-size: 12px;
        left: 25%;
    }

    .ClassModalContent {
        overflow-y: scroll;
        height: 95%;
        top: 2%;
        left: 2%;
        width: 95%;
    }

    .ClassStyleSound {
        top: 6px;
        position: relative;
        font-size: 1.8em !important;        
        margin-left: 5px;
    }    
}

@media screen and (min-width: 767px) {
    .ClassTable {
        display: block;
        overflow: hidden;
        position: absolute;
        height: 93%;
        width: 99%;
    }

    .ClassModalContent {
        overflow-y: scroll;
        height: 71%;
        top: 9%;
        left: 7%;
        width: 87%;
    }

    .ClassSlider {
        top: 96%;
        position: fixed;
        width: 90%;
        left: 5%;
        margin-top: 15px;
    }

    .TreeMainExpand {
        background-color: peachpuff;
        width: 19%;
        font-size: 13px;
        height: 300px;
    }

    .ClassTDText {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 16px;
        position: relative;
        left: 10px;
        padding-right: 30px;
    }

    .divLoadingButton {
        width: 20em;
        height: 10em;
        position: fixed;
        left: 39%;
        top: 39%;
        font-size: 12px;
    }

    .ClassStyleSound {
        font-size: 1.5em !important;
        position: fixed;
        margin-left: 5px;
    }
}

.glyphicon-plus, .glyphicon-minus, .ClassSound {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 25px 25px !important;
   
}





ul {
    list-style: none;
    padding: 0px 0px 0px 20px;
}

ul li {    
    margin-bottom:2px;
}   

.inner_ul {
    padding: 0px 0px 0px 20px;
}

.ClassTextNode {
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}

.TreeMainCollapse {
    background-color:  none;
    width: none;
}

.ClassMarginRight {
    margin-right: 10px;
}

hrben {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 0.2em 0;
    margin-left: 25%;
    margin-right: 25%;
}

.ClassTextPopup {
    margin-left: 15px;
    border: 0px;
    font-size: 13px;
    width: 92%;
}

.ClassMotPopup {
    font-family: Courier New;
    font-size: 13px;
}



.ClassTitleText {
    width: 34px;
    float: left;
    margin-left: 10px;
}

.ClassTextWord {
    position: relative;
    margin-left: 63px;
    margin-right: 15px;
}

.ClassTextSentence {
    position: relative;
    margin-left: 63px;
    margin-right: 15px;
    margin-bottom: 10px;
    cursor:pointer;
}

.ClassTextSentence:hover {
    color:blue;
}
 
.ClassListeDesLangues {
    width: 100px;
    display: inline-block;
}

.glyphicon-plus {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 15px;
}

.glyphicon-minus {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 15px;
}

.glyphicon-minus {
    font-size: 15px;
}



@media screen and (min-width: 767px) {
    .IconLeft {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
        color: coral;
        display: none;
    }

    .IconRight {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
        color: coral;
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .IconLeft {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
        color: coral;
    }
    .IconRight {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
        color: coral;
    }
}