.ClassTextAlignCenter {
    text-align: center;
}

.btn-custom {
    background: linear-gradient(135deg, red, orange);
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.2s;
}

    .btnAction-custom {
        background: linear-gradient(135deg, green, gray);
        color: white;
        padding: 12px 25px;
        border-radius: 8px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        transition: 0.2s;
    }

        .btnAction-custom:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 14px rgba(0,0,0,0.3);
        }

    .ClassMarginTopAndBottom {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .ClassMarginTop {
        margin-top: 20px;
    }

    .ClassMarginBottom {
        margin-bottom: 20px;
    }

    #table_Poule1.table, #table_Poule1 table, #table_Poule1 th, #table_Poule1 td {
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 0;
    }

    #table_Poule2.table, #table_Poule2 table, #table_Poule2 th, #table_Poule2 td {
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 0;
    }

    #table_Poule3.table, #table_Poule3 table, #table_Poule3 th, #table_Poule3 td {
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 0;
    }

    #table_Poule4.table, #table_Poule4 table, #table_Poule4 th, #table_Poule4 td {
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .ClassCelluleBackgroundColor {
        background-color: black;
    }

    .fixed-col {
        max-width: 80px;
    }

    .fixed-FirstCol {
        min-width: 140px;
        max-width: 140px;
    }

    .fixed-IntermediaireCol {
        min-width: 24px;
        max-width: 24px;
    }

    .ClassDecorationUnderline {
        text-decoration: underline;
    }

    .ClassFontSizeTitre {
        font-size: 20px;
    }

    .tableScoreAlign {
        min-width: 200px;
        text-align: center;
    }

    .pretty-list {
        padding: 0;
        margin: 0;
        width: 300px;
    }

        .pretty-list li {
            padding: 5px 14px;
            margin-bottom: 10px;
            border-radius: 10px;
            color: #e2e8f0;
            border: 1px solid rgba(148, 163, 184, 0.3);
            box-shadow: 0 4px 12px rgba(0,0,0,0.2);
            height: 29px;
        }

            .pretty-list li .index {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background: linear-gradient(135deg, #38bdf8, #6366f1);
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-weight: 600;
                float: left;
                margin-right: 15px;
            }


    .ClassSpanMinWidthFixed {
        min-width: 100px;
        display: inline-block;
    }

    .ClassDivRencontre {
        border-right: 1px solid black;
        max-width: 300px;
        border-radius: 10px;
        margin-bottom: 40px;
    }

    .ClassMaxWidth {
        max-width: 16px;
    }

.ClassFontSize{
    font-size:16px;
}

@media screen and (max-width: 767px) {
    .btn-custom {
        font-size: 12px;
        padding: 11px 3px;
    }
    .btnAction-custom {
        font-size: 10px;
        padding: 11px 3px;
    }

    .ClassFontSizeTitre {
        font-size: 15px;
    }
    .ClassFontSize {
        font-size: 13px;
    }

    .ClassMarginTopAndBottom {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .tableScoreAlign {
        min-width: 100px;
    }

    .ClassTextAlignCenter h2 {
        font-size:15px;
    }

    .ClassTablePoules.table-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
    }

    .ClassTablePoules table {
        border-collapse: collapse;
        min-width: 600px; /* optionnel, selon ton contenu */
    }
}