.carousel-wrapper {
    display: flex;
    align-items: center;
}

.carousel-arrow {
    width: 33px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    user-select: none;
    color: blue;
    margin: 5px;
}

.carousel-image {
    width: 100%;
    height: 622px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-box {
    width: 100%;
    height: 456px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    .image-box img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
