@model CercleRoyalEscrimeTournaisien.Models.ModelEpub122024

<div id="myModalTraductionPopup" class="modal">
    <div class="modal-content ClassModalContent">
        <div style="height:20px;">
            <span style="font-size: 2.5rem;" class="close">&times;</span>
        </div>

        <div id="idMotFR">
            <i id="MotFR_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">FR: </div>
            <div id="MotFR" onclick="$('#MotFR_Sound').click();" type="text" class="ClassMotPopup ClassTextWord"></div>
        </div>

        <div id="idMotEN">
            <i id="MotEN_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">EN: </div>
            <div id="MotEN" onclick="$('#MotEN_Sound').click();" class="ClassMotPopup ClassTextWord" type="text"></div>
        </div>

        <div id="idMotES">
            <i id="MotES_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">ES: </div>
            <div id="MotES" onclick="$('#MotES_Sound').click();" class="ClassMotPopup ClassTextWord" type="text"></div>
        </div>

        <div id="idMotNL">
            <i id="MotNL_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">NL: </div>
            <div id="MotNL" onclick="$('#MotNL_Sound').click();" class="ClassMotPopup ClassTextWord" type="text"></div>
        </div>

        <div id="idMotDE">
            <i id="MotDE_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">DE: </div>
            <div id="MotDE" onclick="$('#MotDE_Sound').click();" class="ClassMotPopup ClassTextWord" type="text"></div>
        </div>

        <div id="idMotIT">
            <i id="MotIT_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">IT: </div>
            <div id="MotIT" onclick="$('#MotIT_Sound').click();" class="ClassMotPopup ClassTextWord" type="text"></div>
        </div>

        <hrben></hrben>

        <div id="idPhraseFR" class="ClassDivText">
            <i id="PhraseFR_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">FR: </div>
            <div id="PhraseFR" onclick="$('#PhraseFR_Sound').click();" class="ClassMotPopup ClassTextSentence" type="text"></div>

        </div>

        <div id="idPhraseEN" class="ClassDivText">
            <i id="PhraseEN_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">EN: </div>
            <div id="PhraseEN" onclick="$('#PhraseEN_Sound').click();" class="ClassMotPopup ClassTextSentence" type="text"></div>

        </div>

        <div id="idPhraseES" class="ClassDivText">
            <i id="PhraseES_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">ES: </div>
            <div id="PhraseES" onclick="$('#PhraseES_Sound').click();" class="ClassMotPopup ClassTextSentence" type="text"></div>

        </div>

        <div id="idPhraseNL" class="ClassDivText">
            <i id="PhraseNL_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">NL: </div>
            <div id="PhraseNL" onclick="$('#PhraseNL_Sound').click();" class="ClassMotPopup ClassTextSentence" type="text"></div>

        </div>

        <div id="idPhraseDE" class="ClassDivText">
            <i id="PhraseDE_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">DE: </div>
            <div id="PhraseDE" onclick="$('#PhraseDE_Sound').click();" class="ClassMotPopup ClassTextSentence" type="text"></div>

        </div>

        <div id="idPhraseIT" class="ClassDivText">
            <i id="PhraseIT_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">IT: </div>
            <div id="PhraseIT" onclick="$('#PhraseIT_Sound').click();" class="ClassMotPopup ClassTextSentence" type="text"></div>
        </div>
        
        <div style="display: flex; bottom: -50px; position: relative; margin-bottom:15px; ">
            <input style="margin: auto; width: 200px; height: 60px; border-radius: 5px; " onclick="$('.close').click();" type="button" value="Close" class="btn btn-success">
        </div>
    </div>    
</div>