@model CercleRoyalEscrimeTournaisien.Models.ModelEpub122024

<div id="myModalTraductionPopup" class="modal">
    <div class="modal-content ClassModalContent">
        <div style="height:20px;">
            <span style="font-size: 2.5rem;" class="close">&times;</span>
        </div>

        <div id="idMotFR">
            <i id="MotFR_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">FR: </div>
            <div id="MotFR" type="text" class="ClassMotPopup ClassText"></div>
        </div>

        <div id="idMotEN">
            <i id="MotEN_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">EN: </div>
            <div id="MotEN" class="ClassMotPopup ClassText" type="text"></div>
        </div>

        <div id="idMotES">
            <i id="MotES_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">ES: </div>
            <div id="MotES" class="ClassMotPopup ClassText" type="text"></div>
        </div>

        <div id="idMotNL">
            <i id="MotNL_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">NL: </div>
            <div id="MotNL" class="ClassMotPopup ClassText" type="text"></div>
        </div>

        <div id="idMotDE">
            <i id="MotDE_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">DE: </div>
            <div id="MotDE" class="ClassMotPopup ClassText" type="text"></div>
        </div>

        <div id="idMotIT">
            <i id="MotIT_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">IT: </div>
            <div id="MotIT" class="ClassMotPopup ClassText" type="text"></div>
        </div>      

        <hrben></hrben>

        <div id="idPhraseFR" class="ClassDivText">
            <i id="PhraseFR_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">FR: </div>
            <div id="PhraseFR" class="ClassMotPopup ClassText" type="text"></div>
            <div style="height:50px;"></div>
        </div>

        <div id="idPhraseEN" class="ClassDivText">
            <i id="PhraseEN_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">EN: </div>
            <div id="PhraseEN" class="ClassMotPopup ClassText" type="text"></div>
            <div style="height:50px;"></div>
        </div>

        <div id="idPhraseES" class="ClassDivText">
            <i id="PhraseES_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">ES: </div>
            <div id="PhraseES" class="ClassMotPopup ClassText" type="text"></div>
            <div style="height:50px;"></div>
        </div>

        <div id="idPhraseNL" class="ClassDivText">
            <i id="PhraseNL_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">NL: </div>
            <div id="PhraseNL" class="ClassMotPopup ClassText" type="text"></div>
            <div style="height:50px;"></div>
        </div>

        <div id="idPhraseDE" class="ClassDivText">
            <i id="PhraseDE_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">DE: </div>
            <div id="PhraseDE" class="ClassMotPopup ClassText" type="text"></div>
            <div style="height:50px;"></div>
        </div>

        <div id="idPhraseIT" class="ClassDivText">
            <i id="PhraseIT_Sound" class='ClassTitleText fa fa-play fa-play-Benoit' style='cursor: pointer; font-size: 15px; width: 10px; '></i>
            <div type="text" class="ClassMotPopup ClassTitleText">IT: </div>
            <div id="PhraseIT" class="ClassMotPopup ClassText" type="text"></div>
            <div style="height:50px;"></div>
        </div>
    </div>    
</div>