@model CercleRoyalEscrimeTournaisien.Accueil

@{
    Layout = null;
}
<div>
    <img style="width: 45%; margin-top: -12%;" src="~/Photos/Divers/escrimeurs rigolos logo tournai.jpg" />
</div>

<div>
    <pre>@Html.DisplayFor(model => model.Contacts)</pre>
</div>


