@model CercleRoyalEscrimeTournaisien.QuelquesSites 

@{
   
}

<link href="@Url.Content("~/Content/QuelquesSitesStyle.css")" rel="stylesheet" type="text/css" />

<div class="jumbotronQuelquesSites">
    <asp:label>@Html.Raw(CercleRoyalEscrimeTournaisien.QuelquesSites.ListeDesQuelquesSites)</asp:label>
</div>


