<html lang="en">

<head>
    <link rel="stylesheet" href="~/Content/PagePersoManager.css">
</head>

<body>

    <table style="margin: 5px 5px 5px 5px;">
        <tr>
            <td>
                <button class="buttonPersoManager" style="--clr:#39FF14" onclick="location.href ='@Url.Action("Epub_20221112", "Home")'"><span>Read Epub Version 2022</span><i></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="buttonPersoManager" style="--clr:#FF3131" onclick="location.href ='@Url.Action("ScreenPDFPage", "Home")'"><span>Read BD</span><i></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="buttonPersoManager" style="--clr: #1F51FF" onclick="location.href ='@Url.Action("Dico", "Home")'"><span>Dico</span><i></i></button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="buttonPersoManager" style="--clr: #8A2BE2" onclick="location.href ='@Url.Action("ReadEpub20042023", "Home")'"><span>New Read Epub avril 2023</span><i></i></button>
            </td>
        </tr>
    </table>
</body>
</html>