@using CercleRoyalEscrimeTournaisien.Models;

@model ModelViewEpubFile

<div class="" style="font-size: 13px;">
    <div class="icon-container" style="width:100%;">
        <div class="row">
            <div style="margin-bottom: 20px;">
                <button style="font-size: 17px;" class="btn btn-success btn-block mb-2" data-toggle="modal" data-target="#modal">Où trouver les epub?</button>
                <input type="file" id="GetFile" style="font-size: 17px; width: 499px; margin-left:35px;" />
            </div>
        </div>
    </div>
</div>