@using CercleRoyalEscrimeTournaisien.Models;

@model ModelViewDico

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>

@Styles.Render("~/styles/DicoCss")
@Scripts.Render("~/bundles/DicoJS")


<div class="divParagraphe">
    <label>Text temporaire dicté</label>
    @Html.TextBoxFor(m => m.WorldInputTemporaire)
</div>

<div class="divParagraphe">
    <label>Text final à chercher</label>
    @Html.TextBoxFor(m => m.WorldInput)
</div>

<div class="divParagraphe">
    <button class="btn btn-primary" type="button" id="btnSearch" onclick="OpenSiteFSolver();">Search définitions</button>
</div>

<div class="divParagraphe">
    <button class="btn btn-primary" type="button" id="btnRestartDictate" onclick="startDictation();">Start Dictate</button>
</div>
