<div id="myModal" class="modal">
    <div class="modal-content">
        <div style="height:20px;">
            <span class="close">&times;</span>
        </div>
        
        <div style="margin-bottom:20px;">
            <label class="ClassLabel" id="labelTexte"></label>
        </div>

        <div id="labelEnChargement" style="text-align:center;margin-top:40px;">
            <label >Vidéo en chargement. Veuillez patienter.</label>
        </div>

        <div id="youtube-video" class="myModalYoutubeVideo" style="display:none;"></div>
    </div>
</div>