@model CercleRoyalEscrimeTournaisien.Normes

<style>
    .ClassNorm td:first-child {
        text-align: center;
        width: 350px;
    }
</style>

<table class="ClassNorm" style="border-collapse: separate; border-spacing: 0 20px; display: inline-grid; margin-top: 20px; border: 1px solid black;">
    <tr style="text-align:center;">
        <td colspan="2">
            <span>Normes du matériel de l'escrimeur</span>
        </td>
       
    </tr>
    <tr>
        <td>
            <span>Tenue (veste et pantalon)</span>
        </td>
        <td>
            <span>
                U13/U15 : 350 N minimum<br />A partir de U17 : 800 N minimum
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span>Sous-veste</span>
        </td>
        <td>
            <span>
                U13/U15 : 350 N minimum<br />A partir de U17 : 800 N minimum
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span>Gant</span>
        </td>
        <td>
            <span>
                Obligatoire.<br /> A toutes les armes, la manchette du gant doit,
                dans tous les cas, recouvrir entièrement la moitié de
                l'avant-bras armé du tireur pour éviter que la lame de
                l'adversaire puisse entrer dans la manche de la veste.<br /> En
                aucun cas il ne doit y avoir un trou pratiqué dans la main
                du gant, même pour laisser passer le fil de corps.<br /> La
                fermeture du gant doit monter du milieu du poignet vers le
                pouce.<br />
                Au sabre : norme 800N minimum (norme FIE)
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span>Masque</span>
        </td>
        <td>
            <span>
                Minimum 350 N en U13/U15<br />
                Minimum 1600 N à partir de U17 (norme FIE)<br />
                Le nouveau type de velcro (article m.25.7 point f) du
                règlement FIE) est obligatoire.<br /> Deux systèmes de sécurité
                restent également obligatoires : languette métallique +
                Velcro (nouveau type) ou Velcro avec trois points d’ancrage
                et système de sécurité auxiliaire en bas du masque).
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span>Bavette</span>
        </td>
        <td>
            <span>Bavette conductrice obligatoire au fleuret</span>
        </td>
    </tr>
    <tr>
        <td>
            <span>Protège poitrine</span>
        </td>
        <td>
            <span>
                Obligatoire à partir de la catégorie U13 pour les féminines<br />
                Au fleuret, le protège poitrine doit être recouvert d’un
                tissu mou tel E.V.A
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span>Lames et coquilles</span>
        </td>
        <td>
            <span>
                U13 : maximum taille 2 (82 cm)<br />
                A partir de U15 : maximum taille 5<br />
                (90 cm au fleuret et à l’épée, 88 cm au sabre)
                Mini coquille jusqu’en U13 (diamètre max 12cm)
            </span>
        </td>
    </tr>
    <tr>
        <td>Normes du matériel sur le site de la fédération :</td>
        <td><a target="_blank" href="https://ffceb.org/wp-content/uploads/2021/06/Normes-materielles-2021-FFCEB-1.pdf">https://ffceb.org/wp-content/uploads/2021/06/Normes-materielles-2021-FFCEB-1.pdf</a></td>
        
        
    </tr>
</table>

<script>
    $(document).ready(function () {
        
    });   
</script>